---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row listrecent">
    <!-- <div class="row"> -->

    {% for post in site.posts %}

        <!-- {% if post.featured == true %} -->

        {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->

<!-- to change back to all posts on one page (and all under same section...)
comment out the below code and change to featured=true, hidden=true for all posts -->


<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Projects</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

            {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

